<app-navbar></app-navbar>
<p-stepper >
    <p-stepperPanel header="Search User">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                    <div class="p-fluid">
                        <div class="p-field p-grid">
                            <div class="p-col">
                                <input type="text" pInputText [(ngModel)]="searchTerm" placeholder="Enter user email">
                            </div>
                            <div class="p-col-fixed">
                                <button pButton type="submit" label="Search" (click)="searchUserEmail()"></button>
                            </div>
                        </div>
                        <div *ngIf="searchResult">
                            <p>Username: {{ searchResult.username }}, ID: {{ searchResult.id }}</p>
                        </div>
                        <div *ngIf="searchMade && !searchResult">
                            <p>Username not found.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex pt-4 justify-content-end">
                <p-button 
                    label="Next" 
                    icon="pi pi-arrow-right" 
                    iconPos="right" 
                    (onClick)="nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Select Payroll Service">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
  <p-dropdown 
      [options]="users" 
      [(ngModel)]="selectedPayrollServiceUserId" 
      optionLabel="label" 
      optionValue="value.id" 
      filter="true" 
      filterBy="label"
      placeholder="Select a user"
      [showClear]="true"
      [dropdownIcon]="'pi pi-chevron-down'"
      (onChange)="onUserSelect($event.value)"> <!-- This event is triggered when a user selects an item -->
  </p-dropdown>
</div>
            </div>
            <div class="flex pt-4 justify-content-between">
                <p-button 
                    label="Back" 
                    icon="pi pi-arrow-left" 
                    (onClick)="prevCallback.emit()" />
                <p-button 
                    label="Next" 
                    icon="pi pi-arrow-right" 
                    iconPos="right" 
                    (onClick)="nextCallback.emit()" />
            </div>
        </ng-template>
    </p-stepperPanel>    
    <p-stepperPanel header="Summary">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex flex-column align-items-center font-medium p-4">
                    <div *ngIf="selectedClientUser" class="w-full text-center">
                        <p class="text-lg">Selected Client: {{ selectedClientUser.username }} (ID: {{ selectedClientUser.id }})</p>
                    </div>
                    <div *ngIf="selectedPayrollServiceUser" class="w-full text-center">
                        <p class="text-lg">Selected Payroll Service: {{ selectedPayrollServiceUser.username }} (ID: {{ selectedPayrollServiceUser.id }})</p>
                    </div>
                    <div *ngIf="!selectedClientUser || !selectedPayrollServiceUser" class="w-full text-center">
                        <p class="text-md text-red-500">Please select both client and payroll service</p>
                    </div>
                    <div *ngIf="assignmentCreated" class="w-full text-center">
                        <p class="text-lg text-green-500">Assignment created successfully!</p>
                    </div>
                </div>                
            </div>
            <div class="flex pt-4 justify-content-between">
                <p-button label="Back" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()"></p-button>
                <p-button label="Create" icon="pi pi-check" (onClick)="createAssignment()" [disabled]="!selectedClientUser || !selectedPayrollServiceUser"></p-button>
            </div>
        </ng-template>
    </p-stepperPanel>
    
</p-stepper>
